html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
}

li {
    list-style: none;
}

canvas {
    display: block;
}

.hint {
    position: absolute;
    top: 0;
    left: 20px;
}


/* btn */

.btn {
    border: none;
    color: white;
    font-size: 16px;
    padding: .375rem 1.5rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #4264D0;
}

.btn-secondary {
    background-color: #EF1350;
}

.btn-primary:hover {
    background-color: #3350ac;
}

.btn-secondary:hover {
    background-color: #ca1145;
}

.btn-primary:focus {
    background-color: #3350ac;
    box-shadow: 0 0 2px #3350ac;
    outline: 0;
}

.btn-secondary:focus {
    background-color: #ca1145;
    box-shadow: 0 0 2px #ca1145;
    outline: 0;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group .btn:first-child {
    margin-right: 10px;
}


/* modal */

.modal {
    border-radius: 15px;
    border: 5px solid #000;
}

.modal-title {
    font-weight: 400;
    text-align: center;
}

#map_add_check {
    transform: translateY(-150px);
}

#map_info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 30px !important;
    transform: translateY(-100px);
}

.map_info__icon {
    position: absolute;
    left: 40px;
    top: 5px;
    width: 50px;
    height: 50px;
}

.map_info__img {
    width: 250px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

.map_info_submit {
    margin-top: 10px;
    width: 100%;
}

.map_info_submit .btn {
    width: 47%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#map_edit {
    width: 400px;
    padding: 40px 24px;
    transform: translateY(-100px);
}

.map_edit_submit .btn-group {
    margin-left: 30%;
    justify-content: flex-start;
}


/* form */

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.col-form-label {
    width: 30%;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    padding-left: 10px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-size: 18px;
}

.form-control-plaintext {
    display: block;
    width: 70%;
    padding: .375rem 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    font-size: 18px;
}

.form-control {
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: center;
    background-color: rgb(218, 218, 218);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select.form-control {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-color: rgb(218, 218, 218);
    background: rgb(218, 218, 218) url('../../assets/select-arrow.svg') no-repeat right 0.65rem center/20px 21px;
    padding-left: 12%;
}