@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
html,
body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    max-width: 1261px;
    &.map-dragging {
        height: 100vh;
        overflow-y: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
}

li {
    list-style: none;
}

canvas {
    display: block;
}

#canvas_board {
    width: calc(100vw - 224px);
    position: fixed;
    overflow: hidden;
    top: 94px;
    left: 14em;
    max-height: 600px;
    overflow: scroll;
    max-width: 87%;
    &.map-dragging {
        height: 100vh;
        overflow-y: hidden;
    }
}

img[alt="anonymous"] {
    display: none;
}

.hint {
    position: absolute;
    top: 0;
    left: 20px;
}


/* btn */

.btn {
    border: none;
    color: white;
    font-size: 16px;
    padding: .375rem 1.5rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #4264D0;
}

.btn-secondary {
    background-color: #EF1350;
}

.btn-primary:hover {
    background-color: #3350ac;
}

.btn-secondary:hover {
    background-color: #ca1145;
}

.btn-primary:focus {
    background-color: #3350ac;
    box-shadow: 0 0 2px #3350ac;
    outline: 0;
}

.btn-secondary:focus {
    background-color: #ca1145;
    box-shadow: 0 0 2px #ca1145;
    outline: 0;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group .btn:first-child {
    margin-right: 10px;
}


/* modal */

.modal {
    border-radius: 15px;
    border: 5px solid #000;
}

.modal-title {
    font-weight: 400;
    text-align: center;
    padding: 0 64px;
    margin-bottom: 10px;
}

#map_add_check {
    transform: translateY(-150px);
}

#map_info {
    width: 350px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 30px !important;
    transform: translateY(-30px);
}

.map_info__icon {
    position: absolute;
    left: 40px;
    top: 5px;
    width: 50px;
    height: 50px;
}

.map_info__img {
    position: relative;
    width: 280px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.map_info_submit {
    margin-top: 10px;
    width: 100%;
}

.map_info_submit .btn {
    width: 47%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#map_edit {
    width: 400px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 40px 24px;
    transform: translateY(-100px);
}

.map_edit_submit .btn-group {
    margin-left: 30%;
    justify-content: flex-start;
}

.map_edit__from_file,
.map_edit__icon__from_file {
    position: relative;
    input[type="file"] {
        width: 100%;
    }
    &+span {
        display: block;
        font-size: 12px;
        color: lighten($color: #000000, $amount: 50);
        margin-top: -15px;
        margin-bottom: 15px;
        text-align: center;
    }
    &.upload {
        &::after {
            content: '上傳完成';
        }
    }
    &::after {
        content: '點擊上傳';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        text-align: center;
        background-color: rgb(218, 218, 218);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        &:focus,
        &:active {
            background-color: darken($color: #dadada, $amount: 20);
        }
    }
}

$height: 25px;
$height-mobile: 35px !important;
#canvas_board_slider {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 60px;
    width: 350px;
    background-color: transparent;
    z-index: 10;
    label {
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        font-size: 20px;
        background-color: transparent;
    }
    #canvas_board_slider_input{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        -webkit-appearance: none;
        width: 100%;
        height: $height;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: $height;
            height: $height;
            background: #4264D0;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            width: $height;
            height: $height;
            background: #4264D0;
            cursor: pointer;
        }
    }
}
@media only screen  and (max-width:1000px){
    #canvas_board_slider_input{
        height: $height-mobile;
        &::-webkit-slider-thumb {
            width: $height-mobile;
            height: $height-mobile;
        }
        &::-moz-range-thumb {
            width: $height-mobile;
            height: $height-mobile;
        }
    }
}

#canvas_board_scale {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 60px;
    width: 420px;
    background-color: transparent;
    z-index: 10;
    .line {
        position: absolute;
        top: 50%;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: black;
        transform: translateY(-50%);
        &::after {
            content: '';
            position: absolute;
            top: 45%;
            left: -1px;
            height: 20px;
            width: 3px;
            background-color: black;
            transform: translateY(-50%);
        }
        &::before {
            content: '';
            position: absolute;
            top: 45%;
            right: -1px;
            height: 20px;
            width: 3px;
            background-color: black;
            transform: translateY(-50%);
        }
    }
    .text {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        font-size: 20px;
        background-color: transparent;
    }
}

.map_check_btn_group {
    display: flex;
    justify-content: center;
    .btn:first-child {
        margin-right: 10px;
    }
}


/* form */

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.col-form-label {
    width: 30%;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    padding-left: 10px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-size: 18px;
}

.form-control-plaintext {
    display: block;
    width: 70%;
    padding: .375rem 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    font-size: 18px;
}

.form-control {
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: center;
    background-color: rgb(218, 218, 218);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &[type="file"] {
        opacity: 0;
    }
}

select.form-control {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-color: rgb(218, 218, 218);
    background: rgb(218, 218, 218) url('/assets/select-arrow.svg') no-repeat right 0.65rem center/20px 21px;
    padding-left: 12%;
}

input[name="locationxy"],
input[name="id"] {
    border: none;
    &:focus,
    &:active {
        border: none;
        box-shadow: none;
        outline: 0 transparent;
    }
}

//loading
.lds-dual-ring::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 200%;
    height: 200%;
    background-color: rgba($color: #000000, $alpha: 0.6);
}

.lds-dual-ring::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.lds-dual-ring-bg:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//fancybox
// .fancybox-slide {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }